*{
	margin: 0 auto;
	padding: 0;
	list-style: none;
	outline: none;
	border: 0;
	font-family: "IRANSans";
	text-decoration: none;
	direction: rtl;
}
/*@font-face{*/
  /*font-family: 'IRANSansWeb(FaNum)';*/
  /*src: url('fonts/IRANSansWeb(FaNum).eot') format('eot'),*/
  /*url('../fonts/IRANSansWeb(FaNum).ttf') format('truetype'),*/
  /*url('../fonts/IRANSansWeb(FaNum).woff') format('woff'),*/
  /*url('../fonts/IRANSansWeb(FaNum).woff2') format('woff2');*/
/*}*/

/* start of css class */

.block{
	display: block;
}

.inline-block{
	display: inline-block;
}

.text-center{
	text-align: center;
}

.text-right{
	text-align: right;
}

.heading{
	display: inline-block;
    float: none;
}
.part-heading{
	margin-bottom: 20px;
	margin-top: 60px;
	color: #5c5c5c;
}
.part-heading::after{
	content: "";
	display: block;
	min-width: 180px;
	height: 2px;
	margin-top: 20px;
	background-color: #00D0FB;
}

.part-margin-top{
	margin-top: 40px;
}

/* end of css class */
body{
	color: #5c5c5c;
	background-color: #f9f9f9 !important;
}
a{
	color: #5c5c5c;
}

/* .............................. START OF HEADER .............................. */

.menu{
	margin-top: 0px !important;
}

.menu li{
	padding: 14px 10px;
}


/*.line{
	content: "";
	display: block;
	min-width: 180px;
	height: 2px;
	width: 700px;

	margin-top: 0px;
	background-color: #00D0FB;
}*/

.liLineMenu{
	padding-top: 0px;
	transition: all ease-in-out .4s;
}
.liLineMenu:hover{
	margin-top: 2px !important;
	border-bottom: 2px solid #ff000c;
}
.contentHeader{
	margin-top: 200px;
}

@media only screen and (max-width: 750px){
	.contentHeader{
		margin-top: 50px;
	}
}

.header{
	display: flex;
	width: 100%;
	min-height: 600px;

	/*color: #fff;*/
	/*background-color: #00D0FB;*/
	background-image: url("../images/header.jpg");
	background-size: cover;
	background-position: inherit;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.header h2{
	font-size: 34px;
	font-weight: bolder;
}
.header p{
	max-width: 400px;
	margin-top: 10px;
	margin-bottom: 25px;
	line-height: 40px;
}


/* start of mainButton style */

.mainButton{
	cursor: pointer;
	height: 40px;
	padding: 5px 30px;
	line-height: 30px;
}
.mainButtonColorful{
	border-radius: 50px;
	box-shadow: 0 0 4px rgba(79, 79, 79, .30);
	color: #000000;
	background: linear-gradient(to left, #FE6501, #ff000c);
}
.login{
	margin-right: 150px;
}

/* end of mainButton style */




/* .............................. END OF HEADER .............................. */








.services{
	width: 100%;
	min-height: 400px;
}

.services-items{
	height: 300px;
	padding: 10px;
	border-radius: 10px;
}

.services-icon{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border: solid 1px #5c5c5c;
	background-color: #f9f9f9;
}

.services-icon:hover{
	border: none;
	background-image: linear-gradient(to left , #0087EB, #00D0FB);
	box-shadow: 0 0 3px #00D0FB;
}

.services-icon:hover svg{
	fill: #fff;
}

.services-items h5{
	margin-top: 20px;
	color: #00D0FB;
}

.services-items p{
	max-height: 90px;
	margin-top: 20px;
	line-height: 30px;
	overflow: hidden;
}

.introduction{
	display: flex;
	align-items: center;
	width: 100%;
	min-height: 400px;
	color: #fff;
	background-color: #00D0FB;
	background-image: url("../images/header.jpg");
	background-size: cover;
	background-position: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}





/*start footer*/
.footer {
	width:100%;
	background-color:#292929;
	padding:10px 0 20px;
	min-height: 200px;
	margin-top: 60px;
}
.footer-center {width:674px; margin:0 auto; text-align:center;}
.footer-center .name {margin:0 0 15px; padding:20px 0px 10px; color:#1e90de;}
.footer-center .name a{color:#1e90de;}
.footer-center .name b {font-weight:700;}
.footer-center .copyright-text {color:white; font-size:13px; border-top:1px solid #47494a; margin:0px; padding-top:20px;}
.footer-center .copyright-text a{color:#1b8edc;}

/*.banner-right .text {font-size:16px; line-height:20px;}*/


.logos img {
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
	filter: grayscale(100%);
	opacity: 0.7;
	-webkit-transition: opacity 0.5s, height 4s, transform 1s;
	transition: filter 0.5s , opacity 0.5s,transform 1s ;
}
.logos img:hover {
	-webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
	filter: grayscale(0%);
	opacity: 1;
	-ms-transform: translate(0px, -5px); /* IE 9 */
	-webkit-transform: translate(0px, -5px); /* Safari */
	transform: translate(0px, -5px);


}

.border img{
	border-radius: 50%;
	width: 50px;
	height: 50px;
}
.logos li{
	list-style-type: none;
	display: inline-block;
	padding:10px;
}
.logos img{
	width: 50px;
}
.logos{
	padding-left: 0;
}

/*end footer*/

a, a:before, a:after, input[type="submit"], .box, .faq-title, .metrics-blocks .box *, .entry-share, .entry-title, button, .candidates span {
	-webkit-transition: all .3s ease 0s;
	transition: all .3s ease 0s;
}

